---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Team from "../../components/Team.astro";
import Footer from "../../components/Footer.astro";
---

<Layout>
    <Header />
    <main class="-mt-[6rem] pt-[6rem] md:pt-[10rem]">
        <Team />
    </main>
    <Footer />
</Layout>
