---
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Hero from '../components/Hero.astro'
import Blog from '../components/Blog.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Team from '../components/Team.astro';
import Event from '../components/Event.astro';
import Footer from '../components/Footer.astro';  
---


<Layout>
  <Header/>
  <Hero />
  <div id="about">
    <About />
  </div>
  <div id="events">
    <Event showAllLink={true} limit={4}/>
  </div>
  <div id="team">
    <Team />
  </div>
  <div id="projects">
    <Project showAllLink={true} limit={2}/>
  </div>
  <div id="blogs">
    <Blog />
  </div>
  <Footer />
</Layout>