<div class ="section bg-darkest timeline"></div>
<div class ="container">
  <div class="padding-vertical-large">
    <div class ="timeline-main_heading-wrapper">
      <div class ="margin-bottom-medium">
        <h2>Events on Campus SJEC</h2>
      </div>
    </div>
    </div>
  </div>
</div>>