---
import dummy from '../assets/dummy.jpeg';
---

<h1 id="event" class ="justify-center text-center text-3xl font-bold font-sans my-6"> EVENTS </h1>
<div class ="w-full max-w-sm mx-auto font-sans bg-white p-4 rounded-md shadow-md">
<!---card -->
<div class ="shadow-md rounded-md flex flex-col h-full transition duration-200">
<!--image -->
<div class ="overflow-hidden rounded-t-md h-full">
    <img src={dummy.src} alt="Event Image" class= "rounded-t-md w-full object-cover h-full"/>
</div>
<!---body -->
<div class="p-6 text-justify font-serif text-gray-800 flex-1">
    <!--title -->
    <a href="#" class="no-underline group">
        <h2 class="text-4xl font-medium my-2 text-blue-600 transition duration-200 group-hover:text-yellow-600">
            Meow Meow 
        </h2>
    </a>
    <h3 class="text-sm font-bold my-2 text-gray-800"> meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow</h3>

    <!--description -->
    <p class ="text-sm mb-4">
        meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow 
    </p>
    <!--button -->
    <a href="#" class="inline-block text-blue-600 text-sm font-medium h-9 leading-9 px-2 cursor-pointer transition duration-200 rounded hover:bg-blue-50">
        Learn More
    </a>
        </div>
    </div>
</div>
