---
import GDG-Lockup-1Line-Black from '../assets/GDG-Lockup-1Line-Black.png';
---
<footer class="relative bg-bluegray-200  border-t border-blackgray-300 p-4">
  <div class="container mx-auto px-4">
    <!-- log and nav -->
    <div class="flex flex-col lg:flex-row text-left w-full ">
      <img src={GDG-Lockup-1Line-Black.src } alt="GDG Logo" class="mb-4 mx-left h-28 w-auto justify-self-start lg:mr-8"/> 
      </div>
    </div>
  </div>
</footer>
