---
import gdg_on_campus_sjec from '../assets/gdg_on_campus_sjec.png';
---
<footer class = "page-footer">
  <div class="container footer-top">
     ::before
    <div class="col-md-4 left logo-footer-column"> 
     <img src=" "
    </div>
    <div class ="col-md-4 left Nav">   </div>
    <div class ="col-md-4 left"> </div>







   ::after
  </div>
  <div class ="fooer-bottom">





  </div>
<div class ="footer-container">
   <!--navigation links  -->
   <nav class ="footer-nav">
     <a href="#Home"> Home </a>
     <a href="#about us"> About Us </a>
     <a href="#Events"> Events </a>
     <a href="#Teams"> Teams </a>
     <a href="#Blogs"> Blogs </a>
   </nav>
    </div>
  
    <!--social media icons -->
    <div class="social-icons">
    <a href="https://github.com/gdgsjec " target="_blank">
        <img src=" " alt="Github">
    </a>
    <a href="https://www.instagram.com/gdg.sjec/ " target="_blank">
    <img src=" " alt="Instagram" >   
    </a>   
     <a href ="https://www.linkedin.com/company/gdg-campus-sjec/posts/?feedView=all " target="_blank">
    <img src=" " alt="LinkedIn">
    <a href="https://gdscsjec.in/" target="_blank">
    <img src=" " alt="gdsc">
    <a href =" " target="_blank">
    <img src=" " alt="gmail" >
   </a>
  </div>
   
    <!--CopyRight -->

    <p> &copy; 2025 Google Upcoming Events. All Rights Reserved. </p>

</footer>