---
import "../styles/global.css";
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .main {
        display: flex;
        justify-content: center;
        font-weight: bolder;
        font-family: Google Sans;
      }
      .background-des {
        background: linear-gradient(to right, white, rgba(180, 220, 248, 1));
      }
        .border1 {
          border-bottom-color: black;
        }
        .border2 {
          border-right-color: black;
        }
        img{
          filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
        }
        .a{
          transition: transform 0.3s ease-in-out;
        }
        .a:hover {
          transform: scale(1.2);
        }
        grey{
          color: grey;
        }
        blue{
          color:#6495ed
        }
        orange{
          color:rgb(238, 161, 20);
          background-color: ;
        }
        light{
          color:rgb(154, 241, 241);
        }
        .trans{
          transition:transform 0.4s ease-in-out;
        }
        .trans:hover{
          transform:translateY(-25px);

        }
    </style>
  </head>
  <body class="background-des bg-local">
    <div class="flex items-baseline">
      <div><img src="/Screenshot (69).png" class="w-[200px]"></div>
      <center><img src="/gdg1.png" class="w-1/3 sm:w-1/4 sm:h-1/5" /></center>
      <div><img src="/Screenshot (69).png" class="w-[200px] -scale-x-100"></div>
    </div>

    <div>
      <div class="flex justify-evenly">
        <img src="/gdgfull1.png" class="w-1/12 -mt-12">
        <div class="main text-shadow-lg/30 text-[40px] sm:text-[80px] mt-[4%]">GOOGLE DEVELOPERS GROUP</div>
        <img src="/gdgfull2.png" class="w-1/12 -mt-12">
    </div>
      <div class="main text-shadow-lg text-[20px] sm:text-[30px] mt-[2%] sm:-mt-[4%]">
        <e class="text-blue-600">On Campus</e>&nbsp; <b>.</b>&nbsp;&nbsp;St. Joseph Engineering College
      </div>
    </div>  
<center><div class="w-2/3 h-85 bg-slate-700 flex flex-col mt-[75px] rounded-lg drop-shadow-xl/20 trans">
      <div class="flex w-1/5 h-10 bg-slate-400 rounded-md drop-shadow-xl">
        <img class="w-1/8 mx-2 my-2 rounded-full" src="/gdgfull.jpg">
        <div class="text-white my-1.5 text-shadow-lg">gdg.dev</div>
        <img src="/close.png" class="sm:w-1/6 sm:mx-20 sm:my-1">
      </div>
      <div class="flex flex-col my-5 mx-10 text-left font-normal text-white font-[consolas] py-[20px]">
      
      <div class="flex py-[10px]">
        <div class="text-[#54bcf9]">1</div>
        <div class="w-5/6 h-[20px] bg-slate-600 mx-20 my-0.5 rounded-lg drop-shadow-xl/10"><grey>&lt;</grey><blue>div</blue><light> class</light>="<orange>flex</orange>"<grey>&gt;</grey></div>      
      </div>
      <div class="flex py-[10px]">
        <div class="text-[#54bcf9]">2</div>
        <div class="w-5/6 h-[20px] bg-slate-600 mx-20 my-0.5 rounded-lg drop-shadow-xl/10"><grey>&lt;</grey><blue>div</blue><grey>&gt;</grey>Join a Google Developer Group to build new skills and connect with local developers,</div>  
      </div>
      <div class="flex py-[10px]">
        <div class="text-[#54bcf9]">3</div>
        <div class="w-5/6 h-[20px] bg-slate-600 mx-20 my-0.5 rounded-lg drop-shadow-xl/10">&nbsp;online and in person. Whether you're a beginner or a pro, all interested in technology are </div>
      </div>
      <div class="flex py-[10px]">
        <div class="text-[#54bcf9]">4</div>
        <div class="w-5/6 h-[20px] bg-slate-600 mx-20 my-0.5 rounded-lg drop-shadow-xl/10">&nbsp;welcome in this inclusive community.<grey>&lt;/</grey><blue>div</blue><grey>&gt;</grey></div>      
      </div>
      <div class="flex py-[10px]">
        <div class="text-[#54bcf9]">5</div>
        <div class="w-5/6 h-[20px] bg-slate-600 mx-20 my-0.5 rounded-lg drop-shadow-xl/10"><grey>&lt;/</grey><blue>div</blue><grey>&gt;</grey></div>
      </div>
      
      </div>
    </div>
    </center>
  
 
    
  </body>
</html>

