---
import "../styles/global.css";
---
<html>
  <head>
    <style>
      .rotate {
          animation: spin 5s linear infinite; /* 5s = rotation speed */
      }

/* Define the animation keyframes */
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .waves {
  position: relative;
  width: 100%;
  height: 25vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 250px;
}

.content {
  position: relative;
  height: 10vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 150px;
    min-height: 40px;
  }

  .content {
    height: 50vh;
  }
}
@media (max-width:1100px) and (min-width:768px){
  .txt1{
    font-size: 60px;
  }
  .txt2{
    font-size: 18px;
  }
  .waves{
    margin-top: -10px;
  }
  .main{
    height: 95vh;
  }
}
@media (max-width: 768px) and (min-width:420px){
  .txt1{
    font-size: 45px;
    width: 100%;
    margin-top: -40px;
  }
  .main{
    height: 97vh;
  }
  .txt2{
    font-size: 18px;
  }
  .waves{
    margin-top: 25px;
  }
  .button{
    width: 15vh;
  }
}
@media (max-width: 420px) and (min-width:300px){
  .txt1{
    font-size: 45px;
    width: 100%;
    margin-top: -40px;
    margin-left: 0%;
  }
  .main{
    height: 102vh;
  }
  .txt2{
    font-size: 18px;
    margin-left: -25%;
    width: 150%;
  }
  .waves{
    margin-top: 65px;
  }
  .button{
    width: 15vh;
  }
}


    </style>
    
<script>
  var i = 0;
  var txt1 = 'Join a Google Developer Group to build new skills and connect with local developers, online and in person.';
  var txt2= '';
  var speed = 50;

  function typeWriter() {
    const demo = document.getElementById("demo");
    if (demo && i < txt1.length) {
      demo.innerHTML += txt1.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  }

  typeWriter();
</script>

  </head>
  <div class="h-[93vh] bg-[#fff] dark:bg-[#1e1e1e] main">
  
  <div class="flex flex-col px-10 pt-30 pb-20 w-full mt-3 h-150 ">
    <div class="h-150 gap-15 flex flex-col py-8 px-10 rounded-xl">
  
  <div class="text-8xl font-bold w-full dark:text-[#f0f0f0] flex justify-center items-center txt1">Google Developers Group</div>
  <div class="w-full text-2xl dark:text-[#f0f0f0] flex flex-col gap-5 txt2">
    <div class="w-full flex justify-center" id="demo"></div>

    <div class=" w-full flex justify-center" id="demo">Whether you`re a beginner or a pro, all interested in technology are welcome in this inclusive community.</div>
  </div>
  <div class="w-30 flex flex-col justify-center mx-auto button">
    <button class="bg-[#4285f4] text-[#fff] rounded-2xl h-10 hover:scale-105">Get Started</button>
  </div>
  </div>
  </div>
  <!--Waves -->
    <div class="waves">
      
        <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class="parallax">
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(195,236,246,0.7)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="3"
              fill="rgba(195,236,246,0.5)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="5"
              fill="rgba(195,236,246,0.3)"
            />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#c3ecf6" />
          </g>
        </svg>
      </div>
  </div>
</html>