<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM SECTION</title> 
    <link rel="stylesheet" href="/src/styles/global.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet"> 

     <style>
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
    </style>



</head>
<body>
  <section id="team" class="w-full mx-auto text-center bg-gray-50  dark:bg-gray-900 py-12">
     <div class="w-[90%] mx-auto text-center">
  <h1 class="text-4xl md:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-blue-800 tracking-wide inline-block relative group mt-10">
  TEAM
  <span class="absolute bottom-0 left-0 w-0 h-1 bg-gradient-to-r from-yellow-400 to-yellow-600 transition-all duration-300 ease-in-out group-hover:w-full"></span>
</h1>

  <div class="w-[90%] mx-auto  flex  flex-col md:flex-row justify-center items-center gap-[8rem] md:gap-[7rem]  mt-44 flex-wrap">

    <div class="flex flex-col mb-12 items-center bg-white dark:bg-gray-800 dark:text-white dark:hover:shadow-gray-700/40
 border-gray-100  shadow-xl  p-5  transition duration-300 ease-in-out hover:shadow-2xl  hover:shadow-gray-500/70  w-64 md:w-80 relative rounded-2xl "> 
            <img class="md:w-62 md:h-62 w-52 h-52  absolute -top-28 left-1/2 transform -translate-x-1/2  border-4 p-3 border-yellow-400 shadow-md " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kaaycZMA4sl4D1NlVzBVWYALMtCbt3oU3Q&s" alt="">
                <div class="flex flex-col  items-center p-4 gap-3 mt-24 md:mt-36 w-full h-auto">
                 <p class="font-semibold font-poppins text-2xl">Rica Crasta</p>
                 <p class="text-gray-500 font-inter  dark:text-white">Design Head</p>
                 <div class="flex gap-7 mt-4">
                  <a href="https://linkedin.com" target="_blank" class="text-yellow-500 text-3xl  hover:text-blue-700 ">
                <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="text-yellow-500 hover:text-gray-900 text-3xl">
               <i class="fa-brands fa-github"></i>
                 </a>
                 </div>
                </div>
    </div>

     <div class="flex flex-col mb-12 items-center bg-white   dark:bg-gray-800 dark:text-white dark:hover:shadow-gray-700/40
 border-gray-100  shadow-xl  p-5  transition duration-300 ease-in-out hover:shadow-2xl  hover:shadow-gray-500/70  w-64 md:w-80 relative rounded-2xl "> 
            <img class="md:w-62 md:h-62 w-52 h-52  absolute -top-28 left-1/2 transform -translate-x-1/2  border-4 p-3 border-yellow-400 shadow-md " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kaaycZMA4sl4D1NlVzBVWYALMtCbt3oU3Q&s" alt="">
                <div class="flex flex-col  items-center p-4 gap-3 mt-24 md:mt-36 w-full h-auto">
                 <p class="font-semibold font-poppins text-2xl">Rica Crasta</p>
                 <p class="text-gray-500 font-inter dark:text-white">Design Head</p>
                 <div class="flex gap-7 mt-4">
                  <a href="https://linkedin.com" target="_blank" class="text-yellow-500 text-3xl  hover:text-blue-700 ">
                <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="text-yellow-500 hover:text-gray-900 text-3xl">
               <i class="fa-brands fa-github"></i>
                 </a>
                 </div>
                </div>
    </div>

      <div class="flex flex-col mb-12 items-center bg-white  dark:bg-gray-800 dark:text-white dark:hover:shadow-gray-700/40
 border-gray-100  shadow-xl  p-5  transition duration-300 ease-in-out hover:shadow-2xl  hover:shadow-gray-500/70  w-64 md:w-80 relative rounded-2xl "> 
            <img class="md:w-62 md:h-62 w-52 h-52  absolute -top-28 left-1/2 transform -translate-x-1/2  border-4 p-3 border-yellow-400 shadow-md " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kaaycZMA4sl4D1NlVzBVWYALMtCbt3oU3Q&s" alt="">
                <div class="flex flex-col  items-center p-4 gap-3 mt-24 md:mt-36 w-full h-auto">
                 <p class="font-semibold font-poppins text-2xl">Rica Crasta</p>
                 <p class="text-gray-500 font-inter dark:text-white">Design Head</p>
                 <div class="flex gap-7 mt-4">
                  <a href="https://linkedin.com" target="_blank" class="text-yellow-500 text-3xl  hover:text-blue-700 ">
                <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="text-yellow-500 hover:text-gray-900 text-3xl">
               <i class="fa-brands fa-github"></i>
                 </a>
                 </div>
                </div>
    </div>   
     
  </div>
  
  <div class="w-[90%] mx-auto  flex  flex-col md:flex-row justify-center items-center gap-30 md:gap-26 mt-35 flex-wrap ">

      <div class="flex flex-col mb-12 items-center bg-white  dark:bg-gray-800 dark:text-white dark:hover:shadow-gray-700/40
 border-gray-100  shadow-xl  p-5  transition duration-300 ease-in-out hover:shadow-2xl  hover:shadow-gray-500/70  w-64 md:w-80 relative rounded-2xl "> 
            <img class="md:w-62 md:h-62 w-52 h-52  absolute -top-28 left-1/2 transform -translate-x-1/2  border-4 p-3 border-yellow-400 shadow-md " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kaaycZMA4sl4D1NlVzBVWYALMtCbt3oU3Q&s" alt="">
                <div class="flex flex-col  items-center p-4 gap-3 mt-24 md:mt-36 w-full h-auto">
                 <p class="font-semibold font-poppins text-2xl">Rica Crasta</p>
                 <p class="text-gray-500 font-inter dark:text-white">Design Head</p>
                 <div class="flex gap-7 mt-4">
                  <a href="https://linkedin.com" target="_blank" class="text-yellow-500 text-3xl  hover:text-blue-700 ">
                <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="text-yellow-500 hover:text-gray-900 text-3xl">
               <i class="fa-brands fa-github"></i>
                 </a>
                 </div>
                </div>
    </div>
         
      <div class="flex flex-col mb-12 items-center bg-white  dark:bg-gray-800 dark:text-white dark:hover:shadow-gray-700/40
 border-gray-100  shadow-xl  p-5  transition duration-300 ease-in-out hover:shadow-2xl  hover:shadow-gray-500/70  w-64 md:w-80 relative rounded-2xl "> 
            <img class="md:w-62 md:h-62 w-52 h-52  absolute -top-28 left-1/2 transform -translate-x-1/2  border-4 p-3 border-yellow-400 shadow-md " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kaaycZMA4sl4D1NlVzBVWYALMtCbt3oU3Q&s" alt="">
                <div class="flex flex-col  items-center p-4 gap-3 mt-24 md:mt-36 w-full h-auto">
                 <p class="font-semibold font-poppins text-2xl">Rica Crasta</p>
                 <p class="text-gray-500 font-inter dark:text-white">Design Head</p>
                 <div class="flex gap-7 mt-4">
                  <a href="https://linkedin.com" target="_blank" class="text-yellow-500 text-3xl  hover:text-blue-700 ">
                <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="text-yellow-500 hover:text-gray-900 text-3xl">
               <i class="fa-brands fa-github"></i>
                 </a>
                 </div>
                </div>
    </div>

     
     <div class="flex flex-col mb-12 items-center bg-white  dark:bg-gray-800 dark:text-white border-gray-100  shadow-xl p-5  transition duration-300 ease-in-out 
               hover:shadow-2xl hover:shadow-gray-500/70  w-64 md:w-80 relative rounded-2xl dark:hover:shadow-gray-700/40">
            <img class="md:w-62 md:h-62 w-52 h-52  absolute -top-28 left-1/2 transform -translate-x-1/2  border-4 p-3 border-yellow-400 shadow-md" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kaaycZMA4sl4D1NlVzBVWYALMtCbt3oU3Q&s" alt="">
                <div class="flex flex-col items-center p-4 gap-3 mt-24 md:mt-36 w-full h-auto ">
                 <p class="font-semibold text-2xl font-poppins">Rica Crasta</p>
                 <p class="text-gray-500 font-inter dark:text-white">Design Head</p>
                 <div class="flex gap-7 mt-4">
                   <a href="https://linkedin.com" target="_blank" class="text-yellow-500 hover:text-blue-700 text-3xl">
                <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="text-yellow-500 hover:text-gray-900 text-3xl">
               <i class="fa-brands fa-github"></i>
                 </a>
                 </div>
               </div>
    </div>
</div>
</section>
</body>
</html>