---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Event from "../../components/Event.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
---

<Layout>
    <Header />
    <main class="-mt-[6rem] pt-[6rem] md:pt-[10rem]">
        <Event />
    </main>
    <Footer />
</Layout>
